@import url('https://fonts.googleapis.com/css2?family=Geom:ital,wght@0,300..900;1,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));

*{
 font-family: "Open Sans";
 
}